
/*different background colour depending on the temperature*/

.T30{
	background-color: red;
}
.T20{
	background-color: #bce784;
}
.T10{
	background-color: #7cffc4;
}
.T0{
	background-color: #9ffff5;
}
.T-10{
	background-color: #3e78b2;
}

.test{
	background-color: green;
}

/*different background-image on mainpage dependent if higher than 20°C */
/*currently not working main_page_warm.css and main_page_cold.css still needed*/
/*
.higher{
	background: url("Winterthur_warm.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}	
.lower{
	background: url("Winterthur_cold.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}	
*/