*{	font-family: Arial;}

/*Buttons for navigation*/
#nav{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	text-align: center;
	width:40%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 1.5%;
	padding: .5%;
	opacity: .9;
	border-radius: 1em;
}

/* rules for a-elements in nav*/
#nav a { 
	display: block;
	text-align: center;
	font-family: Arial Black;
	text-decoration: none;
	color: white;
	padding: .5%;
	line-height: 2.5em;
	width: 100%;
}
#nav .navbutton{
	background-color: #555;
}
#nav .navbutton:hover { 
	background-color: white ;
}
#nav .navbutton:hover a{
	color: black;
}
#main {
	grid-column: 2;
	grid-row: 1;
}	
#tables{
	grid-column: 1;
	grid-row: 1;
	border-radius: .5em 0 0 .5em;
}	
#comparison{
	grid-column:3;
	grid-row:1;
	border-radius: 0 .5em .5em 0;
}
/*code of the body*/
body{
	background: url("../../images/Winterthur_warm.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
#title{
	display: grid;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	line-height: 3em;
	background-color: #555;
	border-radius: .5em;
	font-size: 2em;
	opacity: .9;
}
h1{
	text-align: center;
	color: white;
}
.container{
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5%;
	display: grid;
	max-width: 80%;
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	background-color: none;
	padding: .5%;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	border-radius: 20px;
	opacity: 0.9;
}
.info{
	background-color: #555;
	border-radius: .5em;
	font-size: 1em;
	line-height: 1.1em;
	text-align: center;
	margin: .2em 0 .2em 0;
	padding: .25em;
}
.days{
	display: grid;
	padding: .25em;
	padding-bottom: .1em;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.5%;
	grid-row-gap: 10px;
	grid-template-columns: 1fr;
	border-radius: 15px;
	grid-row-gap: 1em;
	background-color: #777;
}
h2{
	color: black;
	grid-row: 1;
	font-family: Arial Black;
	margin-left: .5em;
}
p{
	color: white;
}
p.date{
	text-align: right;
	color: black;
	grid-row: 2;
	font-family: Arial Black;
}
p.high{
	grid-row: 3;
	border-radius: 10px 10px 0 0;
}
p.low{
	grid-row: 4;
	border-radius: 0;
}
p.text{
	grid-row: 5;
	border-radius: 0 0 10px 10px;
}
/*different days*/
.today{
	grid-column: 1;
	grid-row: 1;
	margin-left: 0;

}
.tomorrow{
	grid-column: 2;
	grid-row: 1;
}
.daft1{
	grid-column: 3;
	grid_row: 1;
}
.daft2{
	grid-column: 4;
	grid_row: 1;
	margin-right: 0;
}
.daft3{
	grid-column: 1;
	grid_row: 2;
	margin-left: 0;
}
.daft4{
	grid-column: 2;
	grid_row: 2;
}
.daft5{
	grid-column: 3;
	grid_row: 2;
}
.daft6{
	grid-column: 4;
	grid_row: 2;
	margin-right: 0;
}
	