*{font-family: Arial Black;}
body{
	background: url("../images/Winterthur_mobile.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #5E8FBE;
}	
#container{
	margin-left: auto;
	margin-right: auto;
	display: grid;
	max-width: 95%;
	grid-row-gap: 0;
	grid-column-gap: 0;
	padding: .5%;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(6, 1fr);
	border-radius: 1em;
	opacity: 0.8;
	font-size: 2em;
}		
.info{
	font-size: 3em;
	font-family: Arial Black;
	line-height: 2.5em;
	text-align: center;
	background-color: #777;
}
.ort {
  grid-column: 1;
  grid-row: 1 /span 2;
  border-radius:10px 10px 0 0;
  font-size: 5em;
  margin-bottom: -.1em;
  line-height:2em;
}
.time {
	grid-column 1;
    grid-row: 3;
	margin: -.1em 0 -.1em 0;
	font-size: 2.5em;
	text-align: center;
	line-height: 1.5em;
}
.date {
	grid-column 1;
    grid-row: 4;
	margin: -.1em 0 -.1em 0;
	font-size: 2.5em;
	text-align: center;
	line-height: 1.5em;
}
.temp_winti {
	grid-column: 1;
    grid-row: 5/span 2;
	border-radius:0 0 10px 10px;
	margin-top: -.1em;
	margin-bottom: .1em;
	padding-bottom: .1em;
	font-size: 8em;
	line-height: 1em;
}

/*adjusts navbar*/
/*Buttons for navigation*/
#nav{
	opacity: .8;
}
/* rules for a-elements in nav*/
#nav a { 
	color: black;
}
.navbutton{
	background-color: #777;
}





















