*{font-family: Arial Black;}	
#container{
	margin-left: auto;
	margin-right: auto;
	display: grid;
	max-width: 50%;
	grid-row-gap: 0;
	grid-column-gap: 0;
	padding: .5%;
	grid-template-columns: repeat(2 , 1fr);
	grid-template-rows: repeat(6, 1fr);
	border-radius: 1em;
	opacity: 0.8;
}		
.info{
	font-size: 1.25em;
	font-family: Arial Black;
	line-height: 2.5em;
	text-align: center;
	background-color: #777;
}
.ort {
  grid-column: 1 / span 2;
  grid-row: 1 /span 2;
  border-radius:10px 10px 0 0;
  font-size: 5em;
  margin-bottom: -.1em;
  line-height:2em;
}
.time {
	grid-column 1;
    grid-row: 3;
	margin: -.1em 0 -.1em 0;
	padding-left: 1.5em;
	font-size: 2.5em;
	text-align: left;
	line-height: 1.5em;
}
.date {
	grid-column 2;
    grid-row: 3;
	margin: -.1em 0 -1em 0;
	padding-right: 1.5em;
	font-size: 2.5em;
	text-align: right;
	line-height: 1.5em;
}
.temp_winti {
	grid-column: 1/span 2;
    grid-row: 4/span 2;
	border-radius: 0 10px 10px 10px;
	margin-top: -.05em;
	margin-bottom: .1em;
	padding-bottom: .1em;
	font-size: 9em;
	line-height: 1em;
}
#old {
	grid-column: 1/span2;
	grid-row: 6;
	margin-top: -.4em;
	border-radius: 0 0 10px 10px;
	font-size: 4em;
	line-height: 1em;
	text-align: center;
	font-family: Arial Black;
}

/*adjusts navbar*/
/*Buttons for navigation*/
#nav{
	opacity: .8;
}

/* rules for a-elements in nav*/
#nav a { 
	color: black;
}
.navbutton{
	background-color: #777;
}