<<<<<<< HEAD
=======
/*
version:   100'000 
date:      19.09.2018 
author:    Janosch Bohner
email:     janosch.bohner@gmx.net 
website:   https://2cerials.m2e-demo.ch

Nehmed de Website viellicht:
coolors.co
*/

>>>>>>> 5d763ae92bb69b72d3889de997929494ca4d6f77
*{font-family: Arial Black;}

#Winterthur {
	font-family: Arial Black;
	position: fixed;
	left: 25%;
	right: 25%;
	width: 50%;
	height: 70%;
	opacity: .8;
	border-radius: 1em;
}	
h1{
	color: black;
	font-size: 5em;
	text-align: center;
	margin-top: .5em;
}	
.spacing{
	display: inline;
	opacity: 0;
}	
#datetime{
	font-size: 2.5em;
	text-align: center;
	margin-top: 2em;
}	
	
#time{
	display: inline;
}

#date{
	display: inline;
}	

p#temp_winti {
	margin-top: .25em;
	font-weight: bold;
	font-size: 11em;
	color: black;
	text-align: center;
}

/*Buttons for navigation*/
#nav{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	text-align: center;
	width:40%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 2.5%;
	height: 4%;
	padding: .5%;
	height: 5%;
	opacity: .8;
	border-radius: 1em;
}

/* rules for a-elements in nav*/
#nav a { 
	text-align: center;
	font-family: Arial Black;
	text-decoration: none;
	color: black;
	padding: .5%;
	width: 10%;
	line-height: 2.5em;
}
#nav .navbutton:hover { 
	background-color: white ;
}
#nav .navbutton:hover a{
	color: black;
}
#vergleich {
	grid-column: 1;
	grid-row: 1;
	border-radius: .5em 0 0 .5em;
}	
#tables{
	grid-column: 2;
	grid-row: 1;
}	
#soon{
	grid-column:3;
	grid-row:1;
	border-radius: 0 .5em .5em 0;
}
