
/*different background colour depending on the temperature*/
.Mustafar{
	background-color: red;
}
.T35{
	background-color: #f34213;
}
.T30{
	background-color: #f46036;
}
.T25{
	background-color: #ffc15e;
}
.T20{
	background-color: #f2dd6e;
}
.T15{
	background-color: #bce784;
}	
.T10{
	background-color: #a8fc97;
}
.T5{
	background-color: #7ae7c7;
}
.T0{
	background-color: #9ffff5;
}
.T-10{
	background-color: #b9fbee
}
.T-20{
	background-color: #89b0ae;
}
.Hoth{
	background-color: #7a918d;
}	
