*{font-family: "Arial Black", Arial, Helvetica, sans-serif !important;}
#container{
	margin-left: auto;
	margin-right: auto;
	display: grid;
	max-width: 80%;
	padding: 0;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
	border-radius: 15px;
	opacity: 0.9;
}	

.detail{
	background-color: #555;
	color: white;
	font-size: 1.25em;
	line-height: 2.5em;
	text-align: center;
	margin: .2em 0 .2em 0;
}
.ort{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 0;
	padding-left: 2%;
	padding-right: 2%;
	border-radius: 15px;
	background-color: #777;
	margin-bottom: 1%;
}
.name {
  grid-column: 1 / span 2;
  grid-row: 1;
  border-radius:10px 10px 0 0;
  margin-top: 1em;
}
.time {
	grid-column 1;
    grid-row: 2;
	margin: 0 1em 0 0;
}
.date {
	grid-column 2;
    grid-row: 2;
	margin: 0 0 0 0;
}
.temp {
	grid-column: 1/span 2;
    grid-row: 3;
	border-radius:0 0 10px 10px;
	margin-bottom: 1em;
}
.old {
	grid-column: 3/span2;
	grid-row: 1;
	margin-top: 1em;
	margin-left: 1em;
	border-radius: 2em;
	color: black;
	font-size: 2.3em;
	line-height: 2.5em;
	text-align: center;
	margin: -.1em 0 -.7em .2em;
}
.new{
	opacity: 0;
	display:none;
}
.pressText {
  grid-column: 3;
  grid-row: 2;
  text-align: right;
  border-radius:10px 0 0 0;
  margin: 0 0 0 1em;
}
.press {
  grid-column: 4;
  grid-row: 2;
  border-radius:0 10px 0 0;
  margin: 0 0 0 0;
  
}
.h2oText {
  grid-column: 3;
  grid-row: 3;
  text-align: right;
  border-radius:0 0 0 10px;
  margin-left: 1em;
  margin-bottom: 1em;
}
.h2o{
	grid-column: 4;
    grid-row: 3;
	border-radius:0 0 10px 0;
	margin-bottom: 1em;
}