#container{
	margin-left: auto;
	margin-right: auto;
	display: grid;
	max-width: 95%;
	grid-row-gap: 10px;
	padding: 0;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
	border-radius: 15px;
	opacity: 0.9;
}	
body{
	background: url("../images/Winterthur_mobile.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #5E8FBE;
	padding-bottom: 2%;
}	
.detail{
	background-color: #555;
	color: white;
	font-size: 3em;
	font-family: Arial Black;
	line-height: 2.5em;
	text-align: center;
	margin: .2em 0 .2em 0;
}
.ort{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	geid-template-rows: repeat(5, 1fr);
	grid-column-gap: 0;
	padding-left: 2%;
	padding-right: 2%;
	border-radius: 15px;
	background-color: #777;
}
.name {
  grid-column: 1 / span 2;
  grid-row: 1;
  border-radius:10px 10px 0 0;
  margin-top: 1em;
}
.time {
	grid-column 1;
	grid-row: 2;
	margin: 0 1em 0 0;
}
.date {
	grid-column 2;
	grid-row: 2;
	margin: 0 0 0 0;
}
.temp {
	grid-column: 1/span 2;
	grid-row: 3;
	border-radius:0 0 10px 10px;
	margin-bottom: 1em;
}
.pressText {
  grid-column: 1;
  grid-row: 4;
  text-align: right;
  border-radius:10px 0 0 0;
  margin: 0 0 0 0;
}
.press {
  grid-column: 2;
  grid-row: 4;
  border-radius:0 10px 0 0;
  margin: 0 0 0 0;
  
}
.h2oText {
  grid-column: 1;
  grid-row: 5;
  text-align: right;
  border-radius:0 0 0 10px;
  margin-bottom: 1em;
}
.h2o{
	grid-column: 2;
	grid-row: 5;
	border-radius:0 0 10px 0;
	margin-bottom: 1em;
}
