/*
version:   1.0 
date:      19.09.2018 
author:    Janosch Bohner
email:     janosch.bohner@gmx.net 
website:   https://2cerials.m2e-demo.ch

Nehmed de Website viellicht:
coolors.co
*/


body, html {
	background: url("Winterthur_warm.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
